.parents{
    width: 90%;
    margin: 10rem auto;
}

.parentsChat{
    font-family: "Mochiy Pop One", serif; 

}

.btn{
   
    margin-left: 14px;
  
}

.pText{
    font-family: "Mochiy Pop One", serif;

    
}

.headingText{
    font-family:"Gloria Hallelujah", cursive;
}